##### `requirements.txt`
##### OpenAI
##### Open-Source, hostet on https://github.com/DrBenjamin/OpenAI
##### Please reach out to benjamin.gross1@adesso.de for any questions
### All needed libraries (and their versions)
streamlit-scrollable-textbox
streamlit-cropper
streamlit-audiorec
streamlit-pdf-viewer
watchdog
openai
beautifulsoup4
argparse
python-docx
docx2pdf
pdf2docx
pypandoc
reportlab
deepl
pillow
PyPDF2
opencv-python-headless
torch
torchvision
torchaudio
langsmith
langserve
langchain-community
langchain-openai
diffusers
bitsandbytes
transformers
accelerate
peft
trl
datasets
audio2numpy
pydub
python-engineio==3.13.0
python-socketio==4.6.0
text_generation
tomlkit==0.13.0
snowflake-cli-labs
minio
black==24.3.0
build==1.1.1
tox==4.11.4